.contenido-nosotros{
    @include tablet {
        @include grid (2, 2rem);
    }

    h3{
        margin-top: 0;
        margin-bottom: 0;

        font-weight: bold;
    }
    p{
        margin-top: .5rem;
    }
}

.imagen-nosotros{
    @include tablet {        
        display: flex;
        align-items: center;
    }
}